receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://*

  prometheus/collector:
    config:
      scrape_configs:
        - job_name: "opentelemetry-collector"
          scrape_interval: 1s
          static_configs:
            - targets: ["127.0.0.1:8888"]

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
    path: "/ready"

processors:
  resource:
    attributes:
      - action: insert
        key: loki.format
        value: raw
      - action: insert
        key: loki.resource.labels
        value: service.name, app, runtime

  batch:
    timeout: 1s
    send_batch_size: 1024

connectors:
  spanmetrics:
    histogram:
      explicit:
        buckets: [2ms, 5ms, 10ms, 25ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s, 5s, 10s]
    aggregation_temporality: "AGGREGATION_TEMPORALITY_CUMULATIVE"
    metrics_flush_interval: 15s

exporters:
  otlphttp/metrics:
    endpoint: http://prometheus:9090/api/v1/otlp
    tls:
      insecure: true
  otlp/traces:
    endpoint: http://tempo:4317
    tls:
      insecure: true
  otlphttp/logs:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true
  otlp/profiles:
    endpoint: http://pyroscope:4040
    tls:
      insecure: true
  debug/metrics:
    verbosity: detailed
  debug/traces:
    verbosity: detailed
  debug/logs:
    verbosity: detailed

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ otlp/traces, spanmetrics ]
      #exporters: [ otlphttp/traces, debug/traces ]
    metrics:
      receivers: [ otlp, spanmetrics ]
      processors: [ batch ]
      exporters: [ otlphttp/metrics ]
      #exporters: [ otlphttp/metrics, debug/metrics ]
    logs:
      receivers: [ otlp ]
      processors: [ batch, resource ]
      exporters: [ otlphttp/logs ]
      #exporters: [ otlphttp/logs, debug/logs ]
    profiles:
      receivers: [otlp]
      exporters: [otlp/profiles]
